@page
@model SocialMediaWebApp.Pages.CommentsModel
@{
}

<div class="PostCard">
    <form method="post" asp-page-handler="Upvote">
        <button type="submit" class="Postbutton">
            Upvote
        </button>
        <input type="hidden" name="postId" value="@Model.PostId" />
    </form>
    <form method="post" asp-page-handler="Downvote">
        <button type="submit" class="Postbutton">
            Downvote
        </button>
        <input type="hidden" name="postId" value="@Model.PostId" />
    </form>
    <p class="PostCardScore">Score : @Model.Post.Score</p>
    <p>Community - <a href="#"> @Model.Post.CommunityName</a></p>
    <p>Author - <a href="#">@Model.Post.Author</a></p>
    <p class="PostDate"> Date - @Model.Post.DateCreated</p>
    <div class="PostCardTitle">
        <h2> @Model.Post.Title</h2>
    </div>
    <div class="PostCardBody">
        <p> @Model.Post.Body</p>
    </div>
    <div class="mb-3">
        <form method="post" asp-page-handler="AddComment">
            <div class="form-group">
                <label asp-for="CommentData.Body"></label>
                <textarea asp-for="CommentData.Body" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>
