@page
@model SocialMediaWebApp.Pages.CommentsModel
@{
}



<div class="PostCard">

    @if(Model.PostDto.IsUpvoted == false)
    {
        <form method="post" asp-page-handler="UpvotePost">
            <button type="submit" class="Postbutton" onclick="maintainscrollposition()" disabled="@(Model.PostDto.IsDownvoted)">
                Upvote
            </button>
            <input type="hidden" name="PostId" value="@Model.Postid" />
            <input type="hidden" name="direction" value="upvotePost" />
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="RemoveUpvotePost">
            <button type="submit" class="Postbutton" onclick="maintainscrollposition()">
                Remove Upvote
            </button>
            <input type="hidden" name="PostId" value="@Model.Postid" />
            <input type="hidden" name="direction" value="removeUpvotePost" />
        </form>
    }

    @if (Model.PostDto.IsDownvoted == false)
    {
        <form method="post" asp-page-handler="DownvotePost">
            <button type="submit" class="Postbutton" onclick="maintainscrollposition()" disabled="@(Model.PostDto.IsUpvoted)">
                Downvote
            </button>
            <input type="hidden" name="PostId" value="@Model.Postid" />
            <input type="hidden" name="direction" value="downvotePost" />
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="RemoveDownvotePost">
            <button type="submit" class="Postbutton" onclick="maintainscrollposition()" >
                Remove Downvote
            </button>
            <input type="hidden" name="PostId" value="@Model.Postid" />
            <input type="hidden" name="direction" value="removeDownvotePost" />
        </form>
    }

    <p class="PostCardScore">Score : @Model.PostDto.Score</p>
   
    <p>Community - <a asp-page="/BrowseCommunity" asp-route-CommunityName="@Model.PostDto.CommunityName">@Model.PostDto.CommunityName</a> </p>
    <p>Author - <a asp-page="/BrowseUser" asp-route-UserName="@Model.PostDto.Author">@Model.PostDto.Author</a> </p>

    <p class="PostDate"> Date - @Model.PostDto.DateCreated</p>
    <div class="PostCardTitle">
        <h2> @Model.PostDto.Title</h2>
    </div>
    @if (Model.PostDto.Body != "null" && Model.PostDto.ImageUrl == "null")
    {
        <div class="PostCardBody">
            <p> @Model.PostDto.Body</p>
        </div>
    }
    @if (Model.PostDto.Body == "null" && Model.PostDto.ImageUrl != "null")
    {
        <img src="@Model.PostDto.ImageUrl" alt="Image">


    }
   
    
</div>
<div class="CommentSection">
    <form method="post" asp-page-handler="AddComment">
        <div>
            <h4>Comment Section</h4>
            <br />

            <textarea asp-for="CommentData.Body" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
        <input type="hidden" name="PostId" value="@Model.Postid" />

    </form>
    <br />
    @foreach (var comment in Model.CommentDtos)
    {
      <br />
      <div class="CommentCard">
            @if (comment.IsUpvoted == false)
            {
                <form method="post" asp-page-handler="UpvoteComment">
                    <button type="submit" class="Postbutton" onclick="maintainscrollposition()" disabled="@(comment.IsDownvoted)">
                        Upvote
                    </button>
                    <input type="hidden" name="commentId" value="@comment.CommentId" />
                    <input type="hidden" name="PostId" value="@Model.Postid" />
                    <input type="hidden" name="direction" value="upvoteComment" />

                </form>
            }
            else
            {
                <form method="post" asp-page-handler="RemoveUpvoteComment">
                    <button type="submit" class="Postbutton" onclick="maintainscrollposition()" >
                        Remove Upvote
                    </button>
                    <input type="hidden" name="commentId" value="@comment.CommentId" />
                    <input type="hidden" name="PostId" value="@Model.Postid" />
                    <input type="hidden" name="direction" value="removeUpvoteComment" />

                </form>
            }
            
            @if(comment.IsDownvoted == false)
            {
                <form method="post" asp-page-handler="DownvoteComment">
                    <button type="submit" class="Postbutton" onclick="maintainscrollposition()" disabled="@(comment.IsUpvoted)">
                        Downvote
                    </button>
                    <input type="hidden" name="commentId" value="@comment.CommentId" />
                    <input type="hidden" name="PostId" value="@Model.Postid" />
                    <input type="hidden" name="direction" value="downvoteComment" />
                </form>
            }
            else
            {
                <form method="post" asp-page-handler="RemoveDownvoteComment">
                    <button type="submit" class="Postbutton" onclick="maintainscrollposition()" >
                        Downvote
                    </button>
                    <input type="hidden" name="commentId" value="@comment.CommentId" />
                    <input type="hidden" name="PostId" value="@Model.Postid" />
                    <input type="hidden" name="direction" value="removeDownvoteComment" />
                </form>
            }

            <p class="PostCardScore">Score : @comment.Score</p>
            <p>Author - <a asp-page="/BrowseUser" asp-route-UserName="@Model.PostDto.Author">@Model.PostDto.Author</a> </p>
            <p class="PostDate"> Date - @comment.DateCreated</p>
            <div class="PostCardBody">
                <p> @comment.Body</p>
            </div>


        
      </div>
        <br />
    }

</div>