@page
@model SocialMediaWebApp.Pages.CommentsModel
@{
}



<div class="PostCard">
    <form method="post" asp-page-handler="Upvote">
        <button type="submit" class="Postbutton">
            Upvote
        </button>
        <input type="hidden" name="PostId" value="@Model.Postid" />
    </form>
    <form method="post" asp-page-handler="Downvote">
        <button type="submit" class="Postbutton">
            Downvote
        </button>
        <input type="hidden" name="PostId" value="@Model.Postid" />
    </form>
    <p class="PostCardScore">Score : @Model.PostDtos.Score</p>
   
    <p>Community - <a asp-page="/BrowseCommunity" asp-route-CommunityName="@Model.PostDtos.CommunityName">@Model.PostDtos.CommunityName</a> </p>
    <p>Author - <a asp-page="/BrowseUser" asp-route-UserName="@Model.PostDtos.Author">@Model.PostDtos.Author</a> </p>

    <p class="PostDate"> Date - @Model.PostDtos.DateCreated</p>
    <div class="PostCardTitle">
        <h2> @Model.PostDtos.Title</h2>
    </div>
    <div class="PostCardBody">
        <p> @Model.PostDtos.Body</p>
    </div>
    
</div>
<div class="CommentSection">
    <form method="post" asp-page-handler="AddComment">
        <div>
            <h4>Comment Section</h4>
            <br />

            <textarea asp-for="CommentData.Body" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
        <input type="hidden" name="PostId" value="@Model.Postid" />

    </form>
    <br />
    @foreach (var comment in Model.CommentDtos)
    {
        <br />
        <div class="CommentCard">
        <form method="post" asp-page-handler="UpvoteComment">
            <button type="submit" class="">
                Upvote
            </button>
            <input type="hidden" name="commentId" value="@comment.CommentId" />
            <input type="hidden" name="PostId" value="@Model.Postid" />
        </form>
        <form method="post" asp-page-handler="DownvoteComment">
            <button type="submit" class="Postbutton">
                Downvote
            </button>
            <input type="hidden" name="commentId" value="@comment.CommentId" />
            <input type="hidden" name="PostId" value="@Model.Postid" />
        </form>
        <p class="PostCardScore">Score : @comment.Score</p>
        <p>Author - <a asp-page="/BrowseUser" asp-route-UserName="@Model.PostDtos.Author">@Model.PostDtos.Author</a> </p>
        <p class="PostDate"> Date - @comment.DateCreated</p>
        <div class="PostCardBody">
            <p> @comment.Body</p>
        </div>
        </div>
        <br />
    }

</div>