@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my website.</p>
</div>


@foreach(var post in Model.posts)
{
    <br />


    <div class="PostCard">
        <form method="post" asp-page-handler="Upvote">
            <button type="submit" class="Postbutton">Upvote</button>
            <input type="hidden" name="postId" value="@post.PostId" />
        </form>
        <form method="post" asp-page-handler="Downvote">
            <button type="submit" class="Postbutton">Downvote</button>
            <input type="hidden" name="postId" value="@post.PostId" />
        </form>
        <p class="PostCardScore">Score : @post.Score</p>
        <p>Community - <a href="#"> @post.CommunityId</a></p>
        <p>Author - <a href="#">@post.UserId</a></p>
        <p class="PostDate"> Date - @post.DateCreated</p>
        <div class="PostCardTitle">
            <h2> @post.Title</h2>
        </div>
        <div class="PostCardBody">
            <p> @post.Body</p>
        </div>
        <div class="PostCardFooter">
            <button class="CommentBoxButton">View comments</button>
        </div>
    </div>
    <br />
}








