@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my website.</p>
</div>


@foreach(var post in Model.posts)
{
    <div class="PostCard">


        <button class="Postbutton">Upvote </button>
        <button class="Postbutton">Downvote</button>
        <p class="PostCardScore">@post.CalculateAndReturnScore()</p>

        <a href="#"> @post.CommunityId</a>
        <br />
        <a href="#">@post.Creator</a>
        <p class="PostDate"> Date - @post.DateCreated</p>



        <div class="PostCardTitle">
            <h2> @post.Title</h2>

        </div>
        <div class="PostCardBody">
            <p> this is the body. There is where users post the contnt of thir posts. If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.</p>

        </div>
        <div class="PostCardFooter">
            <button class="CommentBoxButton">View comments</button>

        </div>

    </div>

    <br />

}








