@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my website.</p>
</div>


@foreach(var post in Model.posts)
{
    <div class="PostCard">


        <button class="Postbutton">Upvote </button>
        <button class="Postbutton">Downvote</button>
        <p class="PostCardScore">Score : @post.CalculateAndReturnScore()</p>
        <p>Community - <a href="#"> @post.CommunityId</a></p>       
        <p>Author - <a href="#">@post.Creator</a></p>
        <p class="PostDate"> Date - @post.DateCreated</p>



        <div class="PostCardTitle">
            <h2> @post.Title</h2>

        </div>
        <div class="PostCardBody">
            <p> @post.Body</p>

        </div>
        <div class="PostCardFooter">
            <button class="CommentBoxButton">View comments</button>

        </div>

    </div>

    <br />

}








