

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!-- Main Section -->
            @foreach (var post in Model.postDtos)
            {
                <br />

                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                            <div class="btn-group">
                                @if (post.IsUpvoted == false)
                                {
                                    <form method="post" asp-page-handler="Upvote">
                                        <button type="submit" class="btn btn-outline-success btn-sm me-2" onclick="maintainscrollposition()" disabled="@(post.IsDownvoted)">
                                            Upvote
                                        </button>
                                        <input type="hidden" name="postId" value="@post.PostId" />
                                        <input type="hidden" name="direction" value="upvotePost" />
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="RemoveUpvote">
                                        <button type="submit" class="btn btn-outline-success btn-sm me-2" onclick="maintainscrollposition()">
                                            Remove Upvote
                                        </button>
                                        <input type="hidden" name="postId" value="@post.PostId" />
                                        <input type="hidden" name="direction" value="removeUpvotePost" />
                                    </form>
                                }

                                @if (post.IsDownvoted == false)
                                {
                                    <form method="post" asp-page-handler="Downvote">
                                        <button type="submit" class="btn btn-outline-danger btn-sm" onclick="maintainscrollposition()" disabled="@(post.IsUpvoted)">
                                            Downvote
                                        </button>
                                        <input type="hidden" name="postId" value="@post.PostId" />
                                        <input type="hidden" name="direction" value="downvotePost" />
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="RemoveDownvote">
                                        <button type="submit" class="btn btn-outline-danger btn-sm" onclick="maintainscrollposition()">
                                            Remove Downvote
                                        </button>
                                        <input type="hidden" name="postId" value="@post.PostId" />
                                        <input type="hidden" name="direction" value="removeDownvotePost" />
                                    </form>
                                }
                            </div>
                            <p class="card-text small text-muted mb-0">Score: @post.Score</p>
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <p class="card-text small text-muted mb-1">Community - <a asp-page="/BrowseCommunity" asp-route-CommunityName="@post.CommunityName">@post.CommunityName</a></p>
                            <p class="card-text small text-muted mb-1">Author - <a asp-page="/BrowseUser" asp-route-UserName="@post.Author">@post.Author</a></p>
                            <p class="card-text small text-muted mb-0">Posted on  @post.DateCreated</p>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                @if(post.Author == User.FindFirst("UserName").Value)
                                {
                                    <li><a class="dropdown-item" asp-page="/EditPost" asp-route-PostId="@post.PostId"> Edit </a></li>
                                    <li>
                                        <form method="post" asp asp-page-handler="DeletePost">

                                            <button type="submit" class="dropdown-item">Delete</button>
                                            <input type="hidden" name="PostId" value="@post.PostId" />
                                        </form>
                                        
                                    </li>
                                }
                                <form method="post" asp-page-handler="ReportPost">
                                    <button type="submit" class="dropdown-item" disabled="@(post.IsReported)">
                                        Report
                                    </button>
                                    <input type="hidden" name="postId" value="@post.PostId" />
                                </form>
                                 
                               
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>

                        <!-- Post body -->
                   
                        @if (post.Body != null && post.ImageUrl == null)
                        {
                            <div class="card-text">
                                <p>@post.Body</p>
                            </div>
                        }
                        @if (post.Body == null && post.ImageUrl != null)
                        {
                            <img src="@post.ImageUrl" alt="Image" class="img-fluid">
                        }
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-page-handler="ViewComments">
                            <button type="submit" class="btn btn-primary">
                                View comments
                            </button>
                            <input type="hidden" name="postId" value="@post.PostId" />
                        </form>
                    </div>
                </div>
                <br />
            }
        </div>
        <div class="col-md-3">
            <!-- Small Right Section -->
            <!-- Add content here if needed -->
        </div>
    </div>
</div>








