@page
@model SocialMediaWebApp.Pages.ProfileModel
@{
}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-4">
                <img src="@Model.ProfilePicture" alt="Profile Picture" class="profile-picture rounded-circle">
            </div>
            <h1 class="text-center">@Model.Profile.UserName</h1>
            <p class="text-center">Your Bio</p>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        @Model.Profile.Bio
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <ul class="list-unstyled">
                        
                        <li><strong>Gender:</strong> @Model.Profile.Gender</li>
                        <li><strong>Location:</strong> @Model.Profile.Location</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="/EditProfile" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>








<form method="post" asp-page-handler="Logout">
    @Html.AntiForgeryToken()
    <button type="submit">Log out</button>
</form>
