@page
@model SocialMediaWebApp.Pages.ReportPostModel
@{
}

@if (TempData["ReportStatus"] != null)
{
    <div>
        <p> @TempData["ReportStatus"] </p>
    </div>

}

@if (Model.IsPostIdValid == true)
{
    <div class="container mt-5">
        <h1>Report Post</h1>
        <form method="post" asp-page-handler="ReportPost">
            <div class="mb-3">
                <label class="form-label">Reason for Reporting:</label>
                @foreach (var reason in Model.ReportReasons)
                {
                    <div class="form-check">



                        <div class="form-check">
                            <label asp-for="ReportPostVM.ReasonId" class="form-check-label">
                                <input asp-for="ReportPostVM.ReasonId" value="@reason.Id" class="form-check-input" type="radio">
                                @reason.Reason
                            </label>
                            <input type="hidden" name="postId" value="@Model.PostId" />
                        </div>

                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary">Submit Report</button>
        </form>
    </div>
}
else
{
	<p>@TempData["Error"]</p>
}

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}